# ====== Arquivos Pessoais ======
*.pfx
schemas/*
*xml
*.csv
*.xls
*.xlsx
chrome_profile*/
*.pdf

# ====== Arquivos Automáticos Python ======
.venv/*
*.egg-info
build*/*
*.pyc 

# ====== Arquivos do Instalador ======
installer/output